body {
  background-color: #b4cfb4;
}

main {
    display: flex;
  flex-direction: column;
  background-color: #d2eed2;
    border-radius: 10px;
  padding: 10px;
  margin: 10px;
  width: 97%;
}

header {
  background-color: #ad9a6e;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  width: 97%;
    display: flex;
  flex-direction: column;
  
}
footer {
  background-color: #ad9a6e;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  bottom: 0;
  position: fixed;
  width: 97%;
  flex: 0 30px;

  flex-direction: row;
}
h1 {
   font-family: cursive; 
   color:black;
   font-size: 60px;


}
li{
    list-style-type: none; /* Remove bullets */
color:black;
    font-size: 20px;
      background-color: #ccb588;
  border-radius: 10px;
  padding: 5px;
  margin: 10px;
}
a{
  color:black;
    font-size: 20px;  
}

li :hover{
    color:rgb(0, 0, 0);
    background-color: #858585;
      border-radius: 14px;
padding: 4px;


}

menu{
  justify-content: center;
}

.navbar-brand{
    padding-left: 1em;
}