body {
  background-color: #c0dbc0;
}
header {
  background-color: #ad9a6e;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  width: 97%;
}
footer {
  background-color: #ad9a6e;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  bottom: 0;
  position: fixed;
  width: 97%;
}
h1 {
   font-family: cursive; 
   color:black;
   font-size: 60px;

}
li{
color:black;
    font-size: 20px;
      background-color: #ccb588;
  border-radius: 10px;
  padding: 5px;
  margin: 10px;
}
a{
  color:black;
    font-size: 20px;  
}

li :hover{
    color:rgb(0, 0, 0);
    background-color: #858585;
      border-radius: 14px;
padding: 4px;


}

